<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sumstyle.css">
    <title>Summary</title>
</head>
<body>
    <h1 class="heading">SUMMARY REPORT</h1>
    <div>
        <p class="para1">With your warm skintone, the following colors are likely to complement you well:</p>
    </div>
    <div class="res">
        <div class="res1">
            <div class="res-head">
                <h3 class="head">Earthy Tones</h3>
            </div>
            <div class="res-img">
                <img src="/photos/images (1).png" class="img">
            </div>
        </div>
        <div class="res1">
            <div class="res-head">
                <h3 class="head">Warm Reds and Oranges</h3>
            </div>
            <div class="res-img">
                <img src="/photos/1c59a41e47e67c56c618bb46269bbe41.jpg" class="img">
            </div>
        </div>
        <div class="res1">
            <div class="res-head">
                <h3 class="head">Deep Rich Colors</h3>
            </div>
            <div class="res-img">
                <img src="/photos/wallpaper.png" class="img">
            </div>
        </div>
        <div class="res1">
            <div class="res-head">
                <h3 class="head">Gold and Bronze</h3>
            </div>
            <div class="res-img">
                <img src="/photos/70009.png" class="img">
            </div>
        </div>
    </div>
</body>
</html>